.mainSection {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-right: 10px;
}

.textSections {
  max-width: 715px;

  color: #c1f9e6;
}

.copy {
  font-size: 1rem;
  color: #c1f9e6;
  padding-top: 0.45rem;
}

.skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  margin-top: 0.5rem;
  grid-gap: 1rem;
  overflow: hidden;
  margin-top: 2rem;
}

.chip {
  background: linear-gradient(to right, #f2994a, #f2c94c);
  padding: 5px;
  border-radius: 4px;
  color: #0a2e8a;
  width: auto;
}

.section {
  padding: 1rem 0;
}

@media only screen and (max-width: 900px) {
  .photo {
    display: none;
  }

  .mainSection {
    padding-right: 0px;
  }

  .textSections {
    width: 100%;
  }

  .skills {
    justify-content: space-around;
  }
}
