.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 2.5fr 0.2fr;
  grid-template-areas: 'header' 'main' 'footer';
  height: 100vh;
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
  background-color: #1d58ec;
  padding: 0 120px;
}

.section {
  min-height: 200px;
  padding: 60px;
  display: flex;
  flex-direction: column;
}

.footer {
  grid-area: footer;
  background-color: #0948e8;
}
