.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

.card {
  background: linear-gradient(to right, #f2994a, #f2c94c);
  color: #0a2e8a;
  border-radius: 4px;
  padding: 30px 20px;
  min-width: 100px;
  min-height: 50px;
  transition: 0.2s ease-in-out;
  white-space: nowrap;
}

.card:hover {
  transform: translateY(-4px);
}

.cardMeta {
  display: flex;
  flex-direction: column;
}

.dates {
  font-size: 0.85rem;
  font-weight: 600;
  color: #1d58ec;
  padding-top: 0.25rem;
}

.job {
  font-size: 1.2rem;
  font-weight: 600;
  color: #0a2e8a;
  padding-right: 0.1rem;
}

.job a {
  color: #0a2e8a;
  text-decoration: none;
}

.desc {
  font-size: 1rem;
}

@media only screen and (max-width: 900px) {
  .grid {
    grid-template-columns: auto;
  }

  .card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 215px;
  }
}
