.hero {
  background-color: #1d58ec;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  min-height: 230px;
}

.header {
  font-size: 4rem;
  font-family: 'Lato';
  color: #7fffd4;
  text-transform: capitalize;
  font-weight: 700;
  white-space: nowrap;
}

.subHeader {
  color: #40bcd8;
  font-size: 2.2rem;
  font-family: 'Raleway', sans-serif;
}

.supportText {
  max-width: 715px;
  color: #c1f9e6;
}

@media only screen and (max-width: 900px) {
  .header {
    font-size: 3rem;
  }

  .subHeader {
    font-size: 1.85rem;
  }

  .supportText {
    width: 100%;
    display: none;
  }
}
